@import url("root.css");

/* td, th{
    border: 1px solid;
    text-align: center;
    padding: 8px;
}

th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
} */

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search_bar{
    padding-top: var(--bit2);
}

/* #search_result{
    padding-top: var(--medium);
} */