@import url("root.css");

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search_bar{
    /* padding-top: var(--bit); */
    display: flex;
    justify-content: space-between;
}

#search_filter{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--green);
}