@import url("variable.css");

body{
    font-family: monospace;
    font-size: var(--police);
    background-color: var(--cyan-gray);
}

li {
    padding-left: var(--separe);
    display: inline-block;
}

a{
    margin-right: 10px;
    text-decoration: none;
    color: var(--light-gray);
}

select, input, table{
    font-size: var(--police);
    border: none;
    border-radius: var(--separe);
}

/* Saisit

input{
    border: none;
    border-radius: var(--separe);
} */

select:focus, input:focus{
    /* border: none; */
    outline: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--max);

    color: var(--gray);
    background-color: var(--gray-medium);
    
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

}

.item_right{
    display: flex;
    justify-content: flex-end;
}

td, th{
    background-color: var(--light-gray);
    /* border: 1px solid; */
    text-align: center;
    padding: 8px;
}

th {
    background-color: var(--gray);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#green_btn{
    background-color: #08c252;
    border: none;
    padding: 10px;
    border-radius: 5px;
}